h1{
    color: red;
}

body{
    margin: 0;
}

#hero-sectioin{

    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-center{
    text-align: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
}

.nav-items li{
    list-style-type: none;
    background-color: aqua;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: solid 5px;
    border-color: rgb(52, 165, 42);
    text-decoration: none;
    
}

.nav-items li a{
    text-decoration: none;
    
}


.dydtytydt{
    width: fit-content;
    padding:40px;
    border: 2px solid gray;
    margin: auto;
    color: blueviolet;
    background-color: aquamarine;
}



/section>
        <section>
            <div
                class="grid grid-cols-3 gap-4 md:gap-10 md:col-1 lg:cols-3 lg:gap-10 h-200 max-w-[1000px] mx-auto font-bold ">
                <div class="bg-[url('downloads1.jpg')] capitalize mx-auto my-auto h-full w-full text-xl auto-cover ">audio &
                    speaker</div>
                <div
                    class="bg-[url('do.jpg')] grid grid-cols-3 col-span-2 capitalize flex items-center mx-auto my-auto h-full w-full text-2xl text-gray-50 font-bold">
                    clean & clear porelain
                    <button
                        class="uppercase border border-gray-200 px-1 py-3  rounded-2xl border-4 border-gray-500">shop
                        now</button>
                </div>
                <div
                    class="bg-[url('do1.jpg')] grid grid-cols-3 col-span-2 flex items-center capitalize text-2xl mx-auto my-auto  h-full w-full text-right font-bold text-gray-950 ">
                    clean & clear porelain
                    <button class="uppercase border border-gray-200 px-5 py-3 rounded-2xl border-4 border-gray-500">shop
                        now</button>
                </div>

                <div class="bg-[url('do2.jpg')] capitalize mx-auto my-auto h-full w-full text-xl font-bold ">Furniture &
                    decor
                </div>
            </div>
        </section>